html {
    background-color: #fff;
}

body {
    font-family: 'Hepta Slab', serif;
}

.container {
    width: 35vw;
    margin: 5vh auto;
}

.photo {
    display: block;
    height: 25vmax;
    width: 25vmax;
    margin: 0 auto 5vh auto;
    border-radius: 50%;
}

.greeting {
    max-width: fit-content;
    background-color: #ffb3ba;
    margin: 0 auto;
    padding: 2px;
    box-sizing: border-box;
    border: 2px solid #ffb3ba;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
    opacity: .9;
}

.cursor {
    border-right: 2px solid #000;
}

.blinking-cursor {
    -webkit-animation: blink .75s infinite step-start;
    -moz-animation: blink .75s infinite step-start;
    animation: blink .75s infinite step-start;
}

@keyframes blink {
    0% { border: 2px solid #ffb3ba; }
    50% { border-right: 2px solid #000; }
}
