html {
    background-color: #fff;
    box-sizing: border-box;
}

body {
    font-family: 'Hepta Slab', serif;
}

.profile {
    padding: 10px 10px;
    min-width: 175px;
    max-width: 400px;
    margin: 0 auto;
}

.photo {
    display: block;
    height: 40vh;
    width: 40vh;
    min-height: 175px;
    min-width: 175px;
    margin: 0 auto;
    border-radius: 50%;
}

.greeting {
    width: fit-content;
    min-width: 0;
    max-width: 100%;
    margin: 20px auto;
}

.language, .greeting {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.typed {
    background-color: #ffb3ba;
    padding: 2px;
    border: 2px solid #ffb3ba;
    text-transform: uppercase;
    text-shadow: 1.25px 1.25px #fff;
    opacity: .9;
}

.cursor {
    border-right: 2px solid #000;
}

.blinking-cursor {
    -webkit-animation: blink .75s infinite step-start;
    -moz-animation: blink .75s infinite step-start;
    animation: blink .75s infinite step-start;
}

@keyframes blink {
    0% { border: 2px solid #ffb3ba; }
    50% { border-right: 2px solid #000; }
}

.about-me, .contact, .goodbye {
    min-width: 0;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 10pt;
}

.introduction {
    width: fit-content;
    min-width: 0;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
    font-size: 10pt;
}

.nickname {
    padding: 0 0 10px 0;
    font-size: 9px;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network {
    height: fit-content;
    width: fit-content;
    margin: 10px;
}

.button-container {
    width: fit-content;
    margin: 5px auto;
}

.language {
    padding: 4px;
    background-color: #fff;
    border: 2px dashed #bae1ff;
    font-size: 8pt;
    font-weight: normal;
    outline: none;
    cursor: pointer;
}

.language:hover {
    background-color: #bae1ff;
    border-style: solid;
}

.hidden {
    display: none;
}