html {
    background-color: #fff;
    box-sizing: border-box;
}

html * {
    background-color: transparent;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Hepta Slab', serif;
}

.header {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-height: 500px;
    min-width: 250px;
    padding: 2.5vmin;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-height: 500px;
    min-width: 250px;
    padding: 2.5vmin;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    min-width: 250px;
    padding: 2.5vmin;
    justify-content: space-between;
    align-items: flex-end;
}

.photo {
    display: block;
    height: auto;
    width: auto;
    min-height: 250px;
    max-height: 50%;
    margin: 0 1vmin 0 0;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .photo {
        min-height: 150px;
        min-width: 150px;
        max-width: 100%;
        margin: 0;
    }
}

.introduction {
    width: 400px;
    margin: 0 0 0 1vmin;
    word-wrap: break-word;
}

@media (max-width: 1024px) {
    .introduction {
        display: flex;
        flex-direction: column;
        min-height: 150px;
        max-height: 50%;
        min-width: 150px;
        max-width: 100%;
        justify-content: center;
        align-content: center;
        margin: 5vmin 0 0 0;
    }
}

.introduction p {
    margin: 0;
    line-height: 1.75em;
    text-align: justify;
}

.language, .text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.text {
    padding: 2px;
    border: 2px solid transparent;
    box-shadow: 1px 1px 2.5px #ddd;
    color: #011;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1.25px 1.25px #fff;
    opacity: .95;
}

.cursor {
    border-right: 2px solid #000 !important;
}

.blinking-cursor {
    -webkit-animation: blink .75s infinite step-start;
    -moz-animation: blink .75s infinite step-start;
    animation: blink .75s infinite step-start;
}

@keyframes blink {
    0% { border: 2px solid inherit; }
    50% { border-right: 2px solid #000; }
}

.bio, .contact, .goodbye {
    width: 400px;
    margin: 0;
    padding: 2.5vmin;
    border: 2px solid transparent;
    font-size: 14px;
    word-wrap: break-word;
}

@media (max-width: 1024px) {
    .bio, .contact, .goodbye {
        min-width: 150px;
        max-width: 100%;
    }
}

.contact > p {
    margin: 0;
}

.social-networks {
    display: flex;
    width: min-content;
    margin: 0 auto;
}

.social-network {
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    outline: none;
}

.social-network:hover {
    font-size: 55px;
}

.button {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 1px 1px 2.5px #ddd;
    font-size: 8pt;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, .5);
    border-style: dashed;
}

.language {
    background-color: #bae1ff;
    border: 2px solid #bae1ff;
}

.about-me {
    background-color: #ffdfba;
    border: 2px solid #ffdfba;
}

.jump {
    -webkit-animation: jump 1s infinite;
    -moz-animation: jump 1s infinite;
    animation: jump 1s infinite;
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(5px); }
}

.message {
    position: absolute;
    right: 2.5vmin;
    bottom: 2.5vmin;
    background-color: rgba(255, 255, 255, .5);
    margin: 0;
    font-size: 10px;
}

.italic {
    font-style: italic;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}
